.brands {
  background-color: #f8f8f8;
  padding-bottom: 16px;

  &__list {
    box-sizing: border-box;
    align-items: center;
    list-style: none;
    padding: 16px;
    padding-bottom: 0;
    margin: 0;
  }

  &__link {
    display: flex;
    justify-content: flex-start;
    padding-left: 16px;
    margin-right: 16px;
    margin-bottom: 16px;
    align-items: center;
    box-sizing: border-box;
    height: 72px;
    width: 240px;
    border: 1px solid $silver;
    border-radius: 6px;
    background-color: #ffffff;

    &:hover,
    &:focus {
      box-shadow: 0 0 0 3px #ffffff, 0 0 0 5px $red;
      transition: box-shadow 0.2s ease-in-out;
      border: 1px solid #ffffff;
    }
  }
}

@media (min-width: $tablet-width) {
  .brands {

    padding-bottom: 32px;

    &__headline {
      padding: 16px 12px 16px;
      background: linear-gradient(90deg, #f8f8f8 0%, #ffffff 100%);
    }

    &__list {
      display: flex;
      justify-content: space-around;
      flex-direction: row;
      flex-wrap: wrap;
      padding: 24px;

      &--rolled {
        height: 200px;
        overflow: hidden;
      }
    }

    &__link {
      min-width: 224px;
      margin: 0 16px 16px;
    }
  }
}

@media (min-width: $desktop-width) {
  .brands {
    padding-bottom: 50px;

    &__list {


      &--rolled {
        overflow: hidden;
      }
    }

    &__link {
      min-width: 240px;
      margin: 0 6px 16px;

    }
  }
}
