.brands {
  background-color: #f8f8f8;
  border: 1px solid green;


  &__headline {
    font-weight: 400;
    font-size: 16px;
    line-height: 24px;
    text-transform: uppercase;
    color: $gray;
    padding: 16px 10px 6px;
    margin: 0;
    background: linear-gradient(90deg, #f8f8f8 1.39%, #ffffff 100%);
  }

  &__list {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
    list-style: none;
    padding: 5px;
    margin: 0;

    &--rolled {
      height: 170px;
      overflow: hidden;
    }
  }

  &__link {
    display: flex;
    justify-content: flex-start;
    padding-left: 15px;
    margin-bottom: 15px;
    align-items: center;
    box-sizing: border-box;
    height: 72px;
    min-width: 300px;
    border: 1px solid $silver;
    border-radius: 6px;
    background-color: #ffffff;

    &:hover,
    &:focus {
      box-shadow: 0 0 0 3px #ffffff, 0 0 0 5px $red;
      transition: box-shadow 0.2s ease-in-out;
      border: 1px solid #ffffff;
    }
  }
}

@media (min-width: $tablet-width) {
  .brands {

    &__headline {
      padding: 16px 12px 16px;
      background: linear-gradient(90deg, #f8f8f8 0%, #ffffff 100%);
    }

    &__list {
      justify-content: space-between;
      flex-direction: row;
      flex-wrap: wrap;

      &--rolled {
        overflow: hidden;
      }
    }

    &__link {
      min-width: 224px;
    }
  }
}

@media (min-width: $desktop-width) {
  .brands {

    &__list {
      align-content: space-between;

      &--rolled {
        overflow: hidden;
      }
    }

    &__link {
      min-width: 240px;

    }
  }
}
