.btn {
  width: 40px;
  height: 40px;
  border-radius: 50%;
  display: inline-block;
  background: $red no-repeat 50% 50%;
  border: none;

  &__lable {
    visibility: hidden;
  }

  &:hover,
  &:focus {
    box-shadow: 0 0 0 3px white, 0 0 0 5px $red;
    transition: box-shadow 0.2s ease-out;
    outline: none;
  }

  &:active {
    opacity: 0.8;
  }

  &--menu {
    background-image: url("../img/icon-menu.svg");
    background-size: 20px;
  }

  &--order {
    background-image: url("../img/icon-order.svg");
    background-size: 20px;
  }

  &--status {
    background-image: url("../img/icon-status.svg");
    background-size: 17px;
  }

  &--search {
    background-image: url("../img/icon-search.svg");
    background-size: 20px;
  }

  &--close {
    position: relative;
    cursor: pointer;

    &::after,
    &::before {
      position: absolute;
      content: "";
      left: 9px;
      top: 19px;
      width: 22px;
      height: 2px;
      background-color: #ffffff;
    }

    &::after {
      transform: rotate(45deg);
    }

    &::before {
      transform: rotate(-45deg);
    }
  }

  &--call {
    background-image: url("../img/icon-call.svg");
    background-size: 20px;
  }

  &--chat {
    background-image: url("../img/icon-chat.svg");
    background-size: 20px;
  }

  &--profile {
    background-image: url("../img/icon-profile.svg");
    background-size: 20px;
  }
}

@media (min-width: $desktop-width) {
  .btn {
    position: relative;

    &__lable {
      vertical-align: middle;
      height: 40px;
      position: absolute;
      left: -140px;
      top: 7px;

      visibility: visible;
      display: inline-block;
      color: $black;

     
    }
  }
}
