.button {
  display: block;
  position: relative;
  align-self: center;

  &--status::before {
    background-image: url("../img/icon-status.svg");
    background-size: 17px;
  }

  &--order::before {
    background-image: url("../img/icon-order.svg");
    background-size: 20px;
  }

  &__link {
    text-decoration: none;
    color: $black;
    display: flex;
    height: 100%;
    align-items: center;
    padding-right: 50px;
    font-size: 0;

    &:hover,
    &:focus {
      color: $gray;
      transition: color 200ms ease-in-out;
    }

    &::before {
      position: absolute;
      content: "";
      top: -20px;
      right: 0;
      width: 40px;
      height: 40px;
      background-repeat: no-repeat;
      background-position: center;
      border-radius: 50%;
      background-color: $red;
      background-size: 20px;
    }

    &:hover::before,
    &:focus::before {
      box-shadow: 0 0 2px 2px $red;
      transition: box-shadow 200ms ease-in-out;
    }
  }
}

@media (min-width: $tablet-width) {
  .button {
    &__link {
      font-size: 16px;

      &::before {
        top: 0;
      }
    }
  }
}
