.callback {
  right: 0;
  transition: all 0.5s ease;
  overflow: scroll;

  &--off {
    right: -320px;
    transition: all 0.5s ease;
  }

  &__headline {
    margin-top: 40px;
    margin-bottom: 24px;
    font-size: 24px;
    line-height: 32px;
  }

  &__close {
    flex-shrink: 0;
  }

  @media (min-width: $desktop-width) {
    overflow: visible;
    &--off {
      right: -550px;
      transition: all 0.5s ease;
    }

    &__headline {
      margin-top: 0;
    }

    &__close {
      position: absolute;
      left: -70px;
      top: 32px;
    }
  }
}
