.content {
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: $background;
  position: relative;
  padding-bottom: 22px;

  &__desc {
    padding: 0 16px;
    margin-bottom: 16px;
  }

  &__desc-wrapper {
    height: auto;
    overflow: hidden;
    margin-bottom: 16px;

    &--rolled {
      height: 154px;
    }
  }

  &__text-wrapper {
    column-width: 100vw;
    &--rolled {
      height: 100%;
    }

    & p {
      color: $black;
      font-size: 14px;
      line-height: 20px;
      letter-spacing: 0.2px;
      padding-top: 13px;
    }
  }

  &__image {
    align-items: center;
    margin: 0;
    width: 100vw;
  }

  @media (min-width: $tablet-width) {
    flex-direction: row;
    justify-content: space-between;
    align-items: flex-start;
    padding: 0 24px;
    padding-bottom: 30px;

    &__desc {
      width: 50%;
    }

    &__desc-wrapper {
      height: auto;
      margin-bottom: 16px;

      &--rolled {
        height: 174px;
      }
    }

    &__text-wrapper {
      & p {
        color: $black;
        font-size: 14px;
        line-height: 20px;
        letter-spacing: 0.2px;
        margin: 0;
        padding: 0 24px 16px 0;
      }
    }

    &__image {
      border-radius: 6px;
      width: auto;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 45px;
  }
}
