.navbar {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  position: fixed;
  left: calc(-100vw);
  float: left;
  width: 100vw;
  height: 100vh;
  background-color: #ffffff;
  z-index: 101;
  box-sizing: border-box;
  padding: 16px;
  font-weight: 500;
  font-size: 16px;
  line-height: 24px;
  color: $black;
  transition: left 0.5s ease;

  &--on {
    // display: flex;
    // animation: navbar 0.3s ease-out;
    visibility: visible;
    left: 0;
    transition: left 0.5s ease;


  }

  &__header {
    display: flex;
    justify-content: space-between;
    align-items: center;
  }

  &__logo {
    padding-left: 16px;
    flex-grow: 1;
  }

  &__footer {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    flex-grow: 1;
  }

  &__contact {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
  }

  &__contact-actions {
    display: flex;
  }

  &__contact-email {
    color: $black;
    font-family: inherit;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $gray;
      transition: color 0.2s ease;
    }

    &:active {
      color: $red;
    }
  }

  &__contact-tel {
    color: inherit;
    font-weight: 700;
    font-size: 24px;
    line-height: 32px;
    text-decoration: none;

    &:hover,
    &:focus {
      color: $gray;
      transition: color 0.2s ease;
    }

    &:active {
      color: $red;
    }
  }

  &__lang-toggle {
    padding: 40px 0 20px;
    list-style: none;
  }
}

@media (min-width: $mobile-wide-width) {
  .navbar {
    padding: 16px 24px;
  }
}

@media (min-width: $tablet-width) {
  .navbar {
    width: 320px;
    left: -320px;

    box-shadow: none;

    &--on {
      box-shadow: 16px 0 52px rgba(14, 24, 80, 0.2), -2px 0 4px rgba(69, 79, 126, 0.02);
      left: 0;
    transition: left 0.5s ease;
    }
  }
}

@media (min-width: $desktop-width) {
  .navbar {
    position: static;
    min-width: 305px;
    box-shadow: none;


    display: flex;

    &__close-button {
      display: none;
    }
  }
}
