.popup {
  display: flex;
  flex-direction: column;
  position: fixed;
  right: 0;
  top: 0;
  width: 320px;
  height: 100vh;
  padding: 24px 16px;
  z-index: 101;
  overflow: hidden;
  background-color: #fff;

  @media (min-width: $desktop-width) {
    width: 440px;
    padding: 42px 32px;
    box-shadow: 16px 0px 52px rgba(14, 24, 80, 0.2), -2px 0px 4px rgba(69, 79, 126, 0.02);
    overflow: visible;
    z-index: 101;
  }
}
