.popup-layer {

      // display: none;
    position: fixed;
      top: 0;
      left: 0;
      width: 100%;
      height: 100%;
      background: #fff;
      opacity: 0.9;
      // z-index: 100;

      &--off {
        display: none;
      }

      

    &__window {
      position: fixed;
      top: 40vh;
      left: 40vw;
      width: 20vw;
      height: 20vh;
      overflow: hidden;
      z-index: 10001;
      border: 1px solid #4c6a8a;
      background-color: red;
    }
}
