.repair-types {
  display: block;
  background-color: $background;
  padding-bottom: 16px;

  &__list {
    display: flex;
    // flex-wrap: wrap;
    list-style: none;
    padding: 16px;
    margin: 0;
  }

  &__link {
    display: block;
    width: 240px;
    height: 160px;
    border: 1px solid $silver;
    margin-right: 16px;
    border-radius: 6px;
    padding: 16px;
    text-decoration: none;
    color: inherit;
    background-color: #ffffff;

    &:hover,
    &:focus {
      box-shadow: 0 0 0 3px #ffffff, 0 0 0 5px $red;
      transition: box-shadow 0.2s ease-in-out;
      border: 1px solid #ffffff;
    }
  }

  @media (min-width: $tablet-width) {
    padding-bottom: 32px;
    &__list {
      justify-content: space-around;
      flex-wrap: wrap;
      padding: 16px;
      margin: 0;
      height: auto;
      overflow: hidden;

      &--rolled {
        height: 160px;
      }
    }

    &__link {
      margin: 0 16px 16px;
    }
  }

  @media (min-width: $desktop-width) {
    padding-bottom: 50px;

    &__link {
      margin: 0 6px 16px;
    }
  }
}
