.repair-types {
  display: flex;
  flex-direction: column;

  background-color: $background;

  &__list {
    display: flex;
    // flex-wrap: wrap;
    list-style: none;
    padding: 16px;
    margin: 0;
    // overflow-x: scroll;
  }

  &__link {
    display: inline-block;
    width: 240px;
    height: 160px;
    border: 1px solid $silver;
    margin-right: 16px;
    border-radius: 6px;
    padding: 16px;
    text-decoration: none;
    color: inherit;
    background-color: #ffffff;

    &:hover,
    &:focus {
      box-shadow: 0 0 0 3px #ffffff, 0 0 0 5px $red;
      transition: box-shadow 0.2s ease-in-out;
      border: 1px solid #ffffff;
    }

  }
}
