.section-headline {
  text-transform: uppercase;
  font-weight: 400;
  font-size: 16px;
  line-height: 24px;
  color: $gray;
  display: block;
  background: linear-gradient(270deg, #f8f8f8 0%, #ffffff 98.61%);
  padding: 16px;
  margin: 0;
  border-top: 1px solid $blue;
}

@media (min-width: $tablet-width) {

  .section-headline {
    padding-left: 24px;
  }
}
