.services {
  display: block;
  font-family: $TTLakes;
  background-color: $background;
  padding: 0;


  &__nav {
    margin-bottom: 24px;

  }

  &__nav-menu {
    padding-left: 16px;
    overflow-x: hidden;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }

  &__action-menu {
    display: none;
    justify-content: flex-end;
  }

  &__action-item {
    margin: 0;
    padding: 0;
  }
}

@media (min-width: $desktop-width) {
  .services {

    &__action-menu {
      display: flex;
    }

  }
}
