.services {
  display: block;
  font-family: $TTLakes;
  background-color: $background;
  border: 1px solid red;


  &__header {
    display: flex;
    justify-content: space-between;
  }

  &__headline {
    margin: 0;
    font-family: $TTLakes;
    font-weight: 700;
    font-size: 28px;
    line-height: 40px;
    color: $black;
  }

  &__nav-menu {
    display: flex;
    flex-wrap: wrap;
  }

  &__action-menu {
    display: flex;
    justify-content: flex-end;
  }

  &__action-item {
    margin: 0;
    padding: 0;
  }
}
