.services {
  display: block;
  font-family: $TTLakes;
  background-color: $background;
  padding: 0;
  

  &__nav {
    margin-bottom: 24px;
  }

  &__nav-menu {
    overflow: hidden;
    padding-left: 16px;
  }

  &__header {
    display: flex;
    justify-content: space-between;
    padding: 16px;
  }

  &__action-menu {
    display: flex;
    justify-content: flex-end;
  }

  &__action-item {
    margin: 0;
    padding: 0;
  }
}
