.swiper-wrapper {
  // height: 200px;
  min-width: 320px;
  // overflow: hidden;
}

.swiper-pagination1 {
  // margin: 0 auto;
  text-align: center;
  // width: 100px;
  display: block;
}

.swiper-pagination2 {
  // margin: 0 auto;
  text-align: center;
  // width: 100px;
  display: block;
}

.swiper-pagination3 {
  // margin: 0 auto;
  text-align: center;
  // width: 100px;
  display: block;
}

.swiper-pagination-bullet {
  margin: 0 4px;
}

@media (min-width: $tablet-width) {
  .swiper-pagination {
    &1,
    &2,
    &3 {
      display: none;
    }
  }
}
