@import "normalize.css";
@import "fonts.scss";
@import "vars.scss";
@import "blocks/action-menu.scss";
@import "blocks/main.scss";
@import "blocks/nav-submenu.scss";
@import "blocks/nav-menu.scss";
@import "blocks/services.scss";
@import "blocks/button.scss";
@import "blocks/btn.scss";
@import "blocks/navbar.scss";
@import "blocks/lang-toggle.scss";
@import "blocks/brands.scss";
@import "blocks/unroll.scss";
@import "blocks/button-arrow.scss";
@import "blocks/repair-types.scss";
@import "blocks/price-list.scss";
@import "blocks/main-footer.scss";
@import "blocks/wrapper.scss";
@import "blocks/main-wrapper.scss";


.visually-hidden:not(:focus):not(:active),
input[type="checkbox"].visually-hidden,
input[type="radio"].visually-hidden {
  position: absolute;

  overflow: hidden;
  clip: rect(0 0 0 0);

  width: 1px;
  height: 1px;
  margin: -1px;
  padding: 0;

  white-space: nowrap;

  border: 0;

  clip-path: inset(100%);
}

body {
  box-sizing: border-box;
  font-family: $TTLakes;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}
