$TTLakes: "TTLakes", "Arial", sans-serif;

$black: #1b1c21;
$gray: #7e7e82;
$cyan: #b8ffec;
$green-cyan: #41f6d7;
$blue: #d9fff5;
$silver: #eaeaea;

$red: #ff3e79;
$background: #f8f8f8;

$mobile-width: 320px;
$tablet-width: 768px;
$desktop-width: 1120px;
